.event-image {
    background-image: url('https://picsum.photos/seed/12/1500/550'); /* Specify the path */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    width: 100%;
    height: 70vh;

    position: relative;
}

.divider-bottom {
    box-shadow: 0px 4px 2px 1px rgba(175, 177, 182, 1); /* Shadow-dividing effect */
    margin-bottom: 20px;
  }

.image-overlay {
    position: absolute;
    bottom: 1em; /* Stick the title to the bottom */
    left: 3em; /* Align the title to the left */
}

.text-overlay {
    margin-top: 1em;
    font-weight: 600;
    letter-spacing: 2px;
}

.date-overlay{
    position: absolute;
    bottom: 0.5em;
    right: 3em;

    font-weight: 600;
}

.bookings-container{
    padding-left: 3em;
    padding-right:3em;
}

.card {
    background-color: #EFEFF0;
}

.shadowed-text {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Shadow effect for text in span*/
}

.shadowed-review-card {
    box-shadow: 0px 4px 2px 1px rgba(175, 177, 182, 1); /* Add shadow effect */
}

.inter-children-cards .card:hover {
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 8px 20px rgb(133, 88, 111, 0.7);
    transform: translateY(-4px);
    /* background-color:#b58ea3; */
    /* cursor: pointer; */
}

#tickets-col .card:active {
    background-color:#85586F;
    color: #fff;
}


.inter-children-cards .card {
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
}

/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

/* Style the custom radio icon */
.review-star {
    display: inline-block;
    width: 20px; /* Adjust width and height */
    height: 20px;
    background-image: url('svgs/Star.svg');
    background-size: cover;
    cursor: pointer;
}

input[type="radio"]:checked + .review-star {
    background-image: url('svgs/ClickedStar.svg');
}

#tickets-col .card {
    background-color: #F9F9F9;
    cursor: pointer;
}

#tickets-col .card-title{
    font-size: large;
    font-weight: 550;
    letter-spacing: 1px;
}