.event-header {
    color: #996580;
    letter-spacing: 0.2rem;
}


#carousel-slide {
    margin: 0% 10%; 
}

.event-card {
    background-color: #f9f9f9;
    width: 60vw;
    height: 40%;
    margin: 0% 10%; 
    color: #000;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    /* border-radius: 11% */
    /* 2%/11%; */
}

.card.event-card .event-img {
    margin: 0% 12%;
    width: 100%;
    height: auto;
    border-radius: 4% 
    /* 4%/7%; */
}

.event-img-cols{
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-card-title {
    display: inline;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}


.event-card-date {
    display: inline;
    float: right;
    font-size: 0.7em;
    padding-right: 2%;
    padding-top: 2%;
    color: #666;
}

.event-card-location {
    padding-top: 1%;
    font-size: 0.7em;
    color:#666;
}


.event-card-description {
    font-size: 0.8em;
}

.event-card:hover * {
    color: #fff;

}

.event-card:hover {
    /* box-shadow: 0 8px 10px rgba(201, 173, 188,0.8); */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    background-color:#b58ea3;
    cursor: pointer;
}

.event-card-body {
    transition: opacity 0.3s ease-in-out;
}

.event-card:hover .event-card-body {
    opacity: 0.9;
}


.event-card:last-of-type {
    margin-bottom: 2%;
}