body {
    background-color: #ffff;
    z-index: 999;
}

.navbar {
    background-color: #D9D9D9;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-light .navbar-brand {
    color: #85586F;
    margin-left: 3em;
    font-size: 1.5rem;
    font-weight: 550;
}

.navbar-light .navbar-brand {
    font-family: Verdana;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.navbar-light .navbar-brand:visited {
    color: #85586F;

}

.navbar-light .navbar-brand:hover {
    color: #643843;

}

#navbarNav {
    justify-content: right;
}

#navbarHeader {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.nav-item {
    margin-right: 3em;
}

.nav-item .nav-link {
    color: #AC7D88;
}

.profile-image {
    margin-right: 3em;
}

.profile-image a {
    display: inline-block;
    position: relative;
}

.profile-image a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 5px 3px #85586F;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile-image a:hover::after {
    opacity: 1;
}

.page-container {
    padding-top: 4em;
}