<link rel="stylesheet" href="/css/search-bar.css">
<div class="col offset-2 mt-2 search-bar">
    <div class="search-container position-relative">
        <input id="search-input" class="mx-2" type="search" placeholder="Search" aria-label="Search">
        <div id="search-btn" class="circular-div"> </div>
        <div id="search-results" class="dropdown-menu">
            <div class="dropdown-item">No results</div>
            {{!-- <div class="dropdown-item">Search results will appear here</div>--}}
        </div>
    </div>
</div>
<script src="/scripts/searchBar.js"></script>