<link rel="stylesheet" href="/css/search-bar.css">
<div class="col offset-2 mt-2 search-bar">
    <form>
        <div class="search-container position-relative">
            <input id="search-input" class="mx-2" type="search" placeholder="Search" aria-label="Search">
            <div class="circular-div"> </div>
            <div id="search-results" class="dropdown-menu">
                {{!-- <div class="dropdown-item">Search results will appear here</div>
                <div class="dropdown-item">Search results will appear here</div>
                <div class="dropdown-item">Search results will appear here</div>
                <div class="dropdown-item">Search results will appear here</div>
                <div class="dropdown-item">Search results will appear here</div> --}}
            </div>
        </div>
    </form>
</div>
<script src="/scripts/searchBar.js"></script>