<!-- When adding tickets to the modal, this html code must appear-->
<div id="-1" class="tickets-selected">
    <div class="row">
        <div class="col-1 close-encaps">
            <img src="/svgs/GrayX.svg" class="x-close0 no-fixed-position x-small ms-md-2" alt="X">
        </div>
        <div class="col-6">
            <p class="ticket-number text-overlay small text-muted">TICKET </p>
        </div>
        <div class="col-md-3">
            <select class="form-control text-muted mt-2">
                <option value="Regular">Regular</option>
                <option value="Student, 25%">Student, 25% </option>
                <option value="Senior (&gt;65), 25%">Senior (&gt;65), 25% </option>
                <option value="Child (&lt;12), 50%">Child (&lt;12), 50% </option>
            </select>
        </div>
        <div class="col-2">
            <p class="ticket-price text-overlay small text-muted text-center">TP€</p>
        </div>
    </div>
</div>