<div class="container-fluid page-container about-us">
        <div class="row mt-5">
            <div class="col-8 col-lg-6 offset-2 offset-lg-3">
                <div class="px-3 shadowed-text">ABOUT US</div>
                <div class="divider-bottom"></div>
                <div class="row">
                    <div class="col mx-5 about-us-description">
                        DESCRIPTION Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Erat pellentesque adipiscing commodo elit at. Vitae
                        suscipit tellus mauris a diam maecenas sed. At consectetur lorem donec massa sapien. Cursus
                        euismod quis viverra nibh cras pulvinar mattis.
                    </div>
                </div>
                <div class="row" id="person1">
                    <div class="col-md-4 mt-5">
                        <img src="/svgs/profile_page_Avatar.svg" class="rounded-circle float-right img-fluid photo"
                            alt="User Profile">
                    </div>
                    <div class="col-md-8 mt-5">
                        <div class="name">Firstname Lastname</div>
                        <div class="email mt-1">email@domain.com</div>
                        <div class="description mt-3">DESCRIPTION Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Erat pellentesque adipiscing commodo
                            elit at. Vitae suscipit tellus mauris a diam maecenas sed. At consectetur lorem donec
                            massa sapien. Cursus euismod quis viverra nibh cras pulvinar mattis. </div>
                    </div>
                </div>
                <div class="row" id="person2">
                    <div class="col-md-4 mt-5">
                        <img src="/svgs/profile_page_Avatar.svg" class="rounded-circle float-right img-fluid photo"
                            alt="User Profile">
                    </div>
                    <div class="col-md-8 mt-5">
                        <div class="name">Firstname Lastname</div>
                        <div class="email mt-1">email@domain.com</div>
                        <div class="description mt-3">DESCRIPTION Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Erat pellentesque adipiscing commodo
                            elit at. Vitae suscipit tellus mauris a diam maecenas sed. At consectetur lorem donec
                            massa sapien. Cursus euismod quis viverra nibh cras pulvinar mattis. </div>
                    </div>
                </div>
            </div>

        </div>
    </div>