<div class="container-fluid auth-container page-container reset-pwd">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Forgot your password? Enter your email to reset your password</h5>
            <form>
                <div class="form-group row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" id="email" placeholder="Email" name="email" required>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col">
                        <button type="button" class="btn">SEND EMAIL</button>
                    </div>
                </div>
                <div class="form-group row mb-2 or-separator">
                    <div class="col">
                        OR
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <div class="col">
                        <a href="/signup">Create a new account</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a href="/login">Return to Log In </a>
        </div>
    </div>
</div>